{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "endOfLine": "lf",
  "printWidth": 92,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "preserve",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
