@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --error: 253 56 79;
    --font: 95 99 104;
    --black: 36 35 36;
    --white: 255 255 255;
    --primary-default: 112 128 144;
    --secondary-default: 216 73 43;
    --foreground-default: 255 255 255;
    --background-default: 250 250 250;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --transparent: transparent;
    --error: 253 56 79;
    --font: 198 197 205;
    --black: 46 45 46;
    --white: 255 255 255;
    --primary-default: 112 128 144;
    --secondary-default: 216 73 43;
    --foreground-default: 39 40 45;
    --background-default: 27 27 31;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background-default text-font;
  }

  label {
    @apply select-none;
  }

  h1 {
    @apply font-sans text-3xl leading-10 font-semibold;
  }

  h2 {
    @apply font-sans font-semibold leading-6 text-xl;
  }

  h3 {
    @apply font-semibold;
  }

  li {
    @apply list-disc list-inside;
  }

  em {
    @apply italic;
  }

  i {
    @apply not-italic;
  }

  u {
    @apply underline-offset-4;
  }

  s {
    @apply line-through;
  }

  hr,
  .hr-class {
    @apply text-font stroke-font my-2 rounded-[3px];
  }

  body {
    @apply w-[100%] relative font-sans m-0 bg-background-default text-font selection:bg-primary-default/20 selection:text-font selection:text-opacity-90 font-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply overflow-x-hidden m-0 p-0 scroll-smooth text-font;
  }

  ::-webkit-scrollbar {
    @apply w-[8px] bg-transparent bg-opacity-70 hover:transition-all hover:delay-200 hover:ease-in-out;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-primary-default hover:transition-all hover:delay-200 hover:ease-in-out absolute top-[50%] bottom-[50%] before:w-[100%] before:h-[100%] before:min-h-[44px] before:min-w-[44px] before:translate-x-[50%] before:translate-y-[50%];
  }

  * {
    @apply text-font box-border;
  }
}

@layer components {
  .base-image {
    @apply rounded-full object-cover w-[100%] h-[100%];
  }

  .base-range-input {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .base-range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: rgb(var(--primary-default));
    border: 2px solid rgb(var(--white));
    outline: none;
    border-radius: 20px;
    cursor: pointer
  }

  .base-border {
    @apply border-solid border-[1px] border-font/[.12];
  }

  .base-link {
    @apply text-center sm:text-left transition-colors hover:underline hover:underline-offset-4 w-fit;
  }

  .base-shadow {
    @apply shadow-[0_0_20px_rgba(0,0,0,.1)];
  }

  .base-input {
    @apply w-full base-border py-[10px] px-[18px] outline-none rounded-lg bg-background-default/70 transition-colors focus:shadow-[0_0_20px_rgba(0,0,0,.06)] placeholder:text-font/60 resize-y disabled:bg-foreground disabled:placeholder:text-transparent disabled:border-none;
  }

  .inputs {
    @apply w-[100%] max-w-[200px] mobile:max-w-[260px] sm:max-w-md md:max-w-lg h-fit py-[10px] px-[18px] leading-7 outline-none resize-y rounded-xl bg-background-default bg-opacity-70 border-solid border-[1px] border-opacity-50 border-font text-font focus:border-font focus:border-opacity-70 focus:transition-shadow focus:shadow-[0_0_20px_rgba(0,0,0,0.1)] placeholder:text-[0.9rem] disabled:bg-foreground disabled:placeholder:text-transparent disabled:border-none;
  }
}
